***
# TD 2 - Algotihmique Avancée 1
***

***
## Exercice 1 : Tri par sélection
***

1. Expliquer les différentes étapes du tri par sélection

2. Donner l’algorithme du tri par sélection puis dérouler-le manuellement sur la liste
L=[24,8,98,16,2,76,30,1].
<br> 
Vérifier le résultat obtenu à chaque étape en exécutant le code.

*Entrez votre réponse ici*

In [2]:
#le déroulment manuel de l'algo de tri par sélection donne:
#[24, 8, 98, 16, 2, 76, 30, 1]
#[1, 8, 98, 16, 2, 76, 30, 24]
#[1, 2, 98, 16, 8, 76, 30, 24]
#[1, 2, 8, 16, 98, 76, 30, 24]
#[1, 2, 8, 16, 98, 76, 30, 24]
#[1, 2, 8, 16, 24, 76, 30, 98]
#[1, 2, 8, 16, 24, 30, 76, 98]
#[1, 2, 8, 16, 24, 30, 76, 98]

def selection_sort(array):
    n = len(array)
    for i in range(0,n-1):
        minpos = i
        for j in range(i+1, n):
            if array[j] < array[minpos]:
                minpos = j
        array[i], array[minpos] = array[minpos], array[i]
        print(array)
    return array

liste_triee=selection_sort([24,8,98,16,2,76,30,1])
print(liste_triee)

[1, 8, 98, 16, 2, 76, 30, 24]
[1, 2, 98, 16, 8, 76, 30, 24]
[1, 2, 8, 16, 98, 76, 30, 24]
[1, 2, 8, 16, 98, 76, 30, 24]
[1, 2, 8, 16, 24, 76, 30, 98]
[1, 2, 8, 16, 24, 30, 76, 98]
[1, 2, 8, 16, 24, 30, 76, 98]
[1, 2, 8, 16, 24, 30, 76, 98]

3. L’algorithme étudié sélectionne à partir du plus petit élément de la tranche restant à trier. Il est possible aussi de faire un tri par sélection à partir du plus grand élément. Implémenter l'algorithme en écrivant une fonction qui trie la liste passée en paramètre et qui retourne la liste triée par sélection dans le sens décroissant.

In [3]:
def selection_sort_max(array):
    n = len(array)
    for i in range(0, n-1):
        maxpos = i
        for j in range(i+1, n):
            if array[j]  > array[maxpos]:
                maxpos = j
        array[i], array[maxpos] = array[maxpos], array[i]
        print(array)
    return array

liste_triee=selection_sort_max([24,8,98,16,2,76,30,1])
print(liste_triee)

[98, 8, 24, 16, 2, 76, 30, 1]
[98, 76, 24, 16, 2, 8, 30, 1]
[98, 76, 30, 16, 2, 8, 24, 1]
[98, 76, 30, 24, 2, 8, 16, 1]
[98, 76, 30, 24, 16, 8, 2, 1]
[98, 76, 30, 24, 16, 8, 2, 1]
[98, 76, 30, 24, 16, 8, 2, 1]
[98, 76, 30, 24, 16, 8, 2, 1]

4. Afficher la complexité de cet algorithme en y insérant une variable calculant le nombre d’opérations effectuées. Comparez la complexité théorique à la valeur affichée.

In [8]:
def selection_sort(array):
    nbr=0
    n = len(array)
    nbr+=1
    for i in range(0, n-1):
        minpos = i
        nbr+=1 
        for j in range(i+1, n):
            nbr+=1
            if array[j] < array[minpos]:
                minpos = j
                nbr+=1
        array[i], array[minpos] = array[minpos], array[i]
        nbr+=1
        nbr+=1
    return array, nbr

liste_triee,nbr=selection_sort([24,8,98,16,2,76,30,1,8,98,16,2,76,30,1,8,98,16,2,76,30,1])
print("le nombre d'opérations est :",nbr)
n=len([24,8,98,16,2,76,30,1,8,98,16,2,76,30,1,8,98,16,2,76,30,1])
print("la complexité théorique du tri par selection est ",n**2)

le nombre d'opérations est : 329
la complexité théorique du tri par selection est  484

5. Proposer une version récursive du tri par sélection.

In [26]:
def minimum(t, j):
    if j == len(t)-1:
        return j
    i = minimum(t, j+1)
    if t[j] < t[i]:
        return j
    else:
        return i
    
def select_sort(t, j=0):
    if j < len(t)-1:
        i = minimum(t, j)
        if i > j:
            t[i], t[j] = t[j], t[i]
        select_sort(t, j+1)
    return t

liste=select_sort([24,8,98,16,2,76,30,1], j=0)
print(liste)

[1, 2, 8, 16, 24, 30, 76, 98]

***
## Exercice 2 : Tri par Insertion
***

1. Expliquer les différentes étapes du tri par insertion

In [23]:
print(ord("("))

40

2. Donner l’algorithme du tri par insertion et dérouler-le manuellement sur la liste
L=[24,8,98,16,2,76,30,1]
<br>
Vérifier le résultat obtenu à chaque étape en exécutant le code

*Entrez votre réponse ici*

In [9]:
#le déroulment manuel de l'algo de tri par sélection donne:
#[24, 8, 98, 16, 2, 76, 30, 1]
#[8, 24, 98, 16, 2, 76, 30, 1]
#[8, 24, 98, 16, 2, 76, 30, 1]
#[8, 16, 24, 98, 2, 76, 30, 1]
#[2, 8, 16, 24, 98, 76, 30, 1]
#[2, 8, 16, 24, 76, 98, 30, 1]
#[2, 8, 16, 24, 30, 76, 98, 1]
#[1, 2, 8, 16, 24, 30, 76, 98]
#[1, 2, 8, 16, 24, 30, 76, 98]


def insertion_sort(array):
    n = len(array)
    for i in range(1, n):
        key = array[i]
        j = i - 1
        while j >= 0 and array[j] > key:
            array[j + 1] = array[j]
            j = j - 1
        array[j + 1] = key
        print(array)
    return array

array_insertion=insertion_sort([24,8,98,16,2,76,30,1])        
print(array_insertion)

[8, 24, 98, 16, 2, 76, 30, 1]
[8, 24, 98, 16, 2, 76, 30, 1]
[8, 16, 24, 98, 2, 76, 30, 1]
[2, 8, 16, 24, 98, 76, 30, 1]
[2, 8, 16, 24, 76, 98, 30, 1]
[2, 8, 16, 24, 30, 76, 98, 1]
[1, 2, 8, 16, 24, 30, 76, 98]
[1, 2, 8, 16, 24, 30, 76, 98]

3. On souhaite à présent modifier l’algorithme de tri par insertion en effectuant la boucle dans l’ordre inverse des indices (du dernier indice vers le premier indice). Ecrire le code python qui correspond à cette modification.

In [10]:

def insertion_sort_inv(array):
    n = len(array)
    for i in range(n-2, -1,-1):
        key = array[i]
        j = i + 1
        print(j)
        while j <= n-1 and array[j] < key:
            array[j - 1] = array[j]
            j = j + 1
        array[j - 1] = key
        print(array)
    return array

array_insertion=insertion_sort_inv([24,8,98,16,2,76,30,1])        
print(array_insertion)

7
[24, 8, 98, 16, 2, 76, 1, 30]
6
[24, 8, 98, 16, 2, 1, 30, 76]
5
[24, 8, 98, 16, 1, 2, 30, 76]
4
[24, 8, 98, 1, 2, 16, 30, 76]
3
[24, 8, 1, 2, 16, 30, 76, 98]
2
[24, 1, 2, 8, 16, 30, 76, 98]
1
[1, 2, 8, 16, 24, 30, 76, 98]
[1, 2, 8, 16, 24, 30, 76, 98]

4. Quelle est la liste obtenue lorsqu’on applique l’algorithme précédent sur la liste suivante :
<table>
 <tr>
  <td>L= </td>     
  <td style="background-color: LightSalmon">B </td>
  <td style="background-color: DarkSalmon">O </td>
  <td style="background-color: Salmon">N </td>
  <td style="background-color: pink">J </td>
  <td style="background-color: LightCoral">O </td>
  <td style="background-color: IndianRed">U </td>
  <td style="background-color: Coral">R </td>
 </tr>
</table>

In [11]:
array_insertion=insertion_sort_inv(['B','O','N','J','O','U','R'])        
print(array_insertion)

6
['B', 'O', 'N', 'J', 'O', 'R', 'U']
5
['B', 'O', 'N', 'J', 'O', 'R', 'U']
4
['B', 'O', 'N', 'J', 'O', 'R', 'U']
3
['B', 'O', 'J', 'N', 'O', 'R', 'U']
2
['B', 'J', 'N', 'O', 'O', 'R', 'U']
1
['B', 'J', 'N', 'O', 'O', 'R', 'U']
['B', 'J', 'N', 'O', 'O', 'R', 'U']

5. Modifier l’algorithme initial du tri par insertion pour qu’il trie dans le sens décroissant.

In [12]:
def insertion_sort_dec(array):
    n = len(array)
    for i in range(1, n):
        key = array[i]
        j = i - 1
        while j >= 0 and array[j] < key:
            array[j + 1] = array[j]
            j = j - 1
        array[j + 1] = key
    return array

array_insertion=insertion_sort_dec([24,8,98,16,2,76,30,1])        
print(array_insertion)

[98, 76, 30, 24, 16, 8, 2, 1]

6. Afficher la complexité de cet algorithme en y insérant une variable calculant le nombre d’opérations effectuées. Comparer la complexité théorique à la valeur affichée.

In [30]:

def insertion_sort(array):
    nbr=0
    n = len(array)
    nbr+=1
    for i in range(1, n):
        nbr+=1
        key = array[i]
        nbr+=1
        j = i - 1
        nbr+=1
        while j >= 0 and array[j] > key:
            nbr+=1
            array[j + 1] = array[j]
            nbr+=1
            j = j - 1
            nbr+=1
        array[j + 1] = key
        nbr+=1
    return array,nbr

array_insertion,nbr=insertion_sort([24,8,98,16,2,76,30,1])        
print(array_insertion)

liste_triee,nbr=insertion_sort([24,8,98,16,2,76,30,1])
print("le nombre d'opérations est :",nbr)
n=len([24,8,98,16,2,76,30,1])

print("la complexité théorique du tri par insertion pour le pire des cas est ",n**2)

[1, 2, 8, 16, 24, 30, 76, 98]
le nombre d'opérations est : 80
la complexité théorique du tri par insertion pour le pire des cas est  64

7. Proposer une version récursive du tri par insertion.

In [15]:

def insere(t, j):
    if j > 0 and t[j] < t[j-1]:
        t[j-1], t[j] = t[j], t[j-1]
        insere(t, j-1)

def insert_sort(t, j=1):
    if j < len(t):
        insere(t, j)
        insert_sort(t, j+1)
    return t

liste=insert_sort([24,8,98,16,2,76,30,1], j=0)
print(liste)

[1, 2, 8, 16, 24, 30, 76, 98]

***
## Exercice 3 : Tri Fusion
***

Le principe du tri par fusion suit le paradigme « diviser pour régner » dont le principe est le suivant :
- On divise en deux moitiés la liste à trier.
- On trie chacune d’entre elles.
- On fusionne les deux moitiés obtenues pour reconstituer la liste triée.
Voici un exemple explicatif du tri par fusion sur la liste L=[ 8 , 2 , 5 , 4 , 9 , 6 , 1 , 7]:

<img src=""  width="500"/>

<br>

<br>
Le code python suivant implémente le tri par fusion.
<br>
Compléter les lignes contenant trois points de suspension …

In [26]:
#fonction qui retourne une liste triée à partir de deux liste triée(liste_gauche et liste_droite)
def fusion(Liste_gauche,Liste_droite):
    resultat = … #inatiation de la liste resultat
    index_gauche, index_droite = 0, 0
    while index_gauche < len(Liste_gauche) and index_droite < len(Liste_droite):
        if Liste_gauche[index_gauche] <= Liste_droite[index_droite]:
            resultat.append(Liste_gauche[index_gauche])
            index_gauche += 1
        else:
            …
            …
    if Liste_gauche:
        resultat.extend(Liste_gauche[index_gauche:])
    if Liste_droite:
        …
    return …

def tri_fusion(L):
    if len(L) <= 1:
        return …
    milieu = …
    #decoupe de la liste L en deux sous liste Liste_gauche et Liste_droite
    Liste_gauche = L[:milieu]
    Liste_droite = …
    Liste_gauche = tri_fusion(Liste_gauche)# la même chose pour Liste_gauche
    Liste_droite = …    # la même chose pour Liste_droite
    return fusion(Liste_gauche, Liste_droite) #fusionner Liste_gauche et Liste_droite